body {
    font-family: Arial, sans-serif;
    text-align: center;
    }
    table {
        width: 50%;
        margin: 20px auto;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        margin-top: 5px;
    }
    label {
        display: block;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 5px;
        color: #333;
        font-size: 20px;
    }

    button {
        background-color: #4c6faf;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 10px 0;
    }

    input{
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 20px;
    }

    #Rick2 td:first-child img {
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }